<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <h1>Flaskchat</h1>
    
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}    

    <hr>
    
    <form method="POST" action="/new">
        <p><input type="text" name="message"/></p>
        <p><input type="hidden" name="username" value="{{username}}" /></p>
        <p><input type="submit"/></p>
    </form>
</body>
</html>